<h5>Photos</h5>
<section>
  <div>
    <div>
      <% @all_images.each do |image| %>
        <div>
          <div>
            <b>
              <%= image.user.first_name %>
            </b>
            <%= image_tag image.photo.url, :style => "width:150px;height:130px" %>
            <b>
              <%= image.tag_line %>
            </b>
            <%if current_user.present? %>
            <b>
              <%unless user_already_like_image(image).present?%>
                <%= link_to "Like", like_image_path(image.id), :id=>"like_btn_#{image.id}", :remote => true%>
              <%else%>
                You Liked.
              <%end%>
            </b>
            <b>
              <%unless user_already_fav_image(image).present?%>
                <%= link_to "Favourite", favourite_image_path(image.id), :id=>"fav_btn_#{image.id}" ,:remote => true%>
              <%else%>
                You Liked.
              <%end%>
            </b>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

