 <div class="row gallery">
  <% @all_images.each do |image| %>  
    <div class="col s12 m3">
      <div class="card pad-all-10">
        <div class="card-image image01">
          <%= image_tag image.photo.url, :class => "user_image materialboxed" %>
          <div class="description">
            <div class="font18 gb10 border-bottom pad-bottom5"><%=image.user.first_name%><%=image.user.last_name%></div>
            <div class="gb10">
              <%= image.tag_line%>
            </div>
            <div class="clearfix">
              <%if user_signed_in?%>
                <% unless image.user.id == current_user.id%>  
                  <%unless user_already_like_image(image).present?%>
                    <%= link_to like_image_path(image) do%>
                      <i class="material-icons margin-right5 white-text font15" title="Like">thumb_up</i>
                    <%end%>
                  <%else%>
                    <i class="material-icons margin-right5 blue-text font15" title="You Liked it.">thumb_up</i>
                  <% end %>
                  <%unless user_already_fav_image(image).present?%>
                    <%= link_to favourite_image_path(image) do%>
                      <i class="material-icons white-text font15" title="Favourite">star</i>
                    <%end%>
                  <%else%>
                    <i class="material-icons blue-text font15" title="Your Favourite.">star</i>
                  <% end %>
                <%end%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%> 
</div>

<div id="image_modal" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>