<div class="row">
  <div class="col s12 m4 offset-m4">
    <div class="card horizontal z-depth-2 sign_in_card">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-stacked">  
          <div class="card-title border-bottom pad-all-20">Login</div>
          <div class="card-content">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, :class=>"validate" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", :class=>"validate" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
          </div>
          <div class="card-action row">
            <div class="col s12 m6">
              <%= f.button :submit, class: "btn waves-effect waves-light blue" do %>
                Login
              <% end %>
            </div>
            <div class="col s12 m6 text-right">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "forgot Password?", new_password_path(resource_name), :class => "lowercase" %>
              <% end -%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
