<h5>Selfie with friend contest</h5>
<b>Top Liked photos</b>
<div class="row gallery">
  <% @top_like_images.each do |image| %>
    <div class="col s12 m3">
      <div class="card pad-all-10">
        <div class="card-image image01">
          <a href="#image_modal" class="material-icons visibility-icon">visibility</a>
          <%= image_tag image.photo.url, :class => "user_image" %>
          <div class="ovrly"></div>          
          <div class="description">
            <div class="font18 gb10 border-bottom pad-bottom5"><%=image.user.first_name%><%=image.user.last_name%></div>
            <div class="gb10">
              <%= image.tag_line%>
            </div>
            <div class="clearfix">
              likes : <%= image.like%>
              Favourites : <%=image.favourite %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
<b>Top Favourite photos</b> 
<div class="row gallery">  
  <% @top_fav_images.each do |image| %>
    <div class="col s12 m3">
      <div class="card pad-all-10">
        <div class="card-image image01">
          <a href="#image_modal" class="material-icons visibility-icon">visibility</a>
          <%= image_tag image.photo.url, :class => "user_image" %>
          <div class="ovrly"></div>          
          <div class="description">
            <div class="font18 gb10 border-bottom pad-bottom5">
              <%=image.user.first_name%><%=image.user.last_name%>
            </div>
            <div class="gb10">
              <%= image.tag_line%>
            </div>
            <div class="clearfix">
              likes : <%= image.like%>
              Favourites : <%=image.favourite %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>   
</div>