<!DOCTYPE html>
<html>
  <head>
    <title>CuewordsAdmin</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    main {
      flex: 1 0 auto;
    }
    </style>
  </head>

  <body>
    
    <%= render 'header' %>
    <div class="section">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'flash' %>
    <div id="toast-container"></div>
    <div class="row">
      <%= yield %>
    </div>
    </div>
    <%= render 'footer' %>
    
  </body>
</html>
